body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:53px;
  width:1290px;
  height:60px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:76px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u954_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u954.selected {
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:53px;
  width:1px;
  height:800px;
  overflow:hidden;
}
#u955_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u955_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1031px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:52px;
  width:180px;
  height:1031px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:1470px;
  height:50px;
  overflow:hidden;
}
#u957_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u957_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u957_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u957_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u957_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u957_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u957_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u957_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u957_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u957_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u957_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u957_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u957_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u957_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u957_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u957_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:51px;
  width:1366px;
  height:2px;
  overflow:hidden;
}
#u958_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u958_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:3px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u959_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u959.selected {
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:69px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:77px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u962_img.mouseOver {
}
#u962.mouseOver {
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:112px;
  width:1291px;
  height:1px;
  overflow:hidden;
}
#u963_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u963_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:53px;
  width:1px;
  height:902px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#00FF66;
  text-align:left;
  line-height:28px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:7px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#00FF66;
  text-align:left;
  line-height:28px;
}
#u965_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#00FF66;
  text-align:left;
  line-height:28px;
}
#u965.selected {
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:122px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u967_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u967.mouseOver {
}
#u967_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u967.selected {
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:164px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u969_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u969.selected {
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:206px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u971_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u971.selected {
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:290px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u973_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u973.selected {
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:332px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u975_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u975.selected {
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:248px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u977_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#353535;
  text-align:left;
}
#u977.selected {
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u979_img.mouseOver {
}
#u979.mouseOver {
}
#u979_img.selected {
}
#u979.selected {
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u980_img.mouseOver {
}
#u980.mouseOver {
}
#u980_img.selected {
}
#u980.selected {
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:17px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:117px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:154px;
  width:300px;
  height:25px;
}
#u983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:154px;
  width:90px;
  height:21px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:211px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:247px;
  width:116px;
  height:18px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:244px;
  width:114px;
  height:25px;
}
#u987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:287px;
  width:87px;
  height:18px;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:284px;
  width:114px;
  height:25px;
}
#u989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:336px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:374px;
  width:116px;
  height:18px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:371px;
  width:178px;
  height:25px;
}
#u992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:413px;
  width:87px;
  height:18px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:410px;
  width:19px;
  height:25px;
}
#u994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:414px;
  width:22px;
  height:18px;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:450px;
  width:73px;
  height:18px;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:447px;
  width:50px;
  height:25px;
}
#u997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:449px;
  width:130px;
  height:19px;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:37px;
  background:inherit;
  background-color:rgba(51, 255, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:523px;
  width:144px;
  height:37px;
  font-size:20px;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:622px;
  width:130px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:670px;
  width:30px;
  height:18px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:667px;
  width:178px;
  height:25px;
}
#u1002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:737px;
  width:607px;
  height:420px;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:55px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:55px;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:148px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:55px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:152px;
  height:55px;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:148px;
  word-wrap:break-word;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:55px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:0px;
  width:152px;
  height:55px;
}
#u1006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:148px;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:55px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:0px;
  width:151px;
  height:55px;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:147px;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:69px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:152px;
  height:69px;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:69px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:55px;
  width:152px;
  height:69px;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:148px;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:69px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:55px;
  width:152px;
  height:69px;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:148px;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:69px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:55px;
  width:151px;
  height:69px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:147px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:152px;
  height:74px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:124px;
  width:152px;
  height:74px;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:124px;
  width:152px;
  height:74px;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:74px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:124px;
  width:151px;
  height:74px;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:147px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:198px;
  width:152px;
  height:74px;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:198px;
  width:152px;
  height:74px;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:198px;
  width:152px;
  height:74px;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:74px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:198px;
  width:151px;
  height:74px;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:147px;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:152px;
  height:74px;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:272px;
  width:152px;
  height:74px;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:272px;
  width:152px;
  height:74px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:74px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:272px;
  width:151px;
  height:74px;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:147px;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:346px;
  width:152px;
  height:74px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:346px;
  width:152px;
  height:74px;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:74px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:346px;
  width:152px;
  height:74px;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  word-wrap:break-word;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:74px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:346px;
  width:151px;
  height:74px;
}
#u1027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:147px;
  word-wrap:break-word;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:800px;
  width:54px;
  height:54px;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:818px;
  width:71px;
  height:18px;
}
#u1030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:870px;
  width:54px;
  height:54px;
}
#u1032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:888px;
  width:71px;
  height:18px;
}
#u1033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:947px;
  width:54px;
  height:54px;
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:965px;
  width:71px;
  height:18px;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:1019px;
  width:54px;
  height:54px;
}
#u1038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:1037px;
  width:71px;
  height:18px;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:1093px;
  width:54px;
  height:54px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:1111px;
  width:71px;
  height:18px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:658px;
  width:126px;
  height:36px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:28px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:1203px;
  width:18px;
  height:18px;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:28px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:1203px;
  width:18px;
  height:18px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:28px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:1203px;
  width:18px;
  height:18px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:28px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:1203px;
  width:18px;
  height:18px;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:1178px;
  width:9px;
  height:18px;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:1178px;
  width:9px;
  height:18px;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1177px;
  width:11px;
  height:16px;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:1176px;
  width:57px;
  height:27px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:1203px;
  width:44px;
  height:18px;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
