body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:711px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:68px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:289px;
  width:125px;
  height:68px;
  font-size:16px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:121px;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:145px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:477px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:747px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:15px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:65px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:136px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:118px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:360px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:410px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:136px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:168px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:462px;
  width:141px;
  height:48px;
  font-size:16px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:137px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:224px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:276px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:522px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:577px;
  width:93px;
  height:56px;
  font-size:16px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:89px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:704px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:754px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:136px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:812px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:85px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:8px;
  height:88px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:76px;
  width:17px;
  height:8px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:-196px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:138px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:8px;
  height:35px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:23px;
  width:17px;
  height:8px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:188px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-27px;
  width:8px;
  height:31px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-27px;
  width:17px;
  height:8px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:244px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-83px;
  width:8px;
  height:87px;
}
#u21_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-83px;
  width:17px;
  height:8px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:-196px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:296px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-135px;
  width:8px;
  height:139px;
}
#u22_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-135px;
  width:17px;
  height:8px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:32px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:8px;
  height:141px;
}
#u23_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:129px;
  width:17px;
  height:8px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:380px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:8px;
  height:125px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:113px;
  width:17px;
  height:8px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:-215px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:430px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u25_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:8px;
  height:75px;
}
#u25_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:63px;
  width:17px;
  height:8px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:486px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u26_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:8px;
  height:19px;
}
#u26_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:7px;
  width:17px;
  height:8px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:542px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-49px;
  width:8px;
  height:53px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-49px;
  width:17px;
  height:8px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:-179px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:605px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:-228px;
  top:-4px;
  width:228px;
  height:8px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:-228px;
  top:-112px;
  width:8px;
  height:116px;
}
#u28_seg2 {
  border-width:0px;
  position:absolute;
  left:-237px;
  top:-112px;
  width:17px;
  height:8px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:724px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:8px;
  height:51px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:39px;
  width:17px;
  height:8px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:-178px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:774px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-11px;
  width:8px;
  height:15px;
}
#u30_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-11px;
  width:17px;
  height:8px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:-160px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:832px;
  width:0px;
  height:0px;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-4px;
  width:204px;
  height:8px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-69px;
  width:8px;
  height:73px;
}
#u31_seg2 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:-69px;
  width:17px;
  height:8px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:165px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:51px;
  height:8px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:8px;
  height:166px;
}
#u32_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:154px;
  width:19px;
  height:8px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:497px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:51px;
  height:8px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-178px;
  width:8px;
  height:182px;
}
#u33_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-178px;
  width:19px;
  height:8px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-79px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:767px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:51px;
  height:8px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-448px;
  width:8px;
  height:452px;
}
#u34_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-448px;
  width:19px;
  height:8px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-214px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
